<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stuttered Remover</title>
</head>
<body>
    <div id="speechContainer">
        <h1>Upload new file</h1>
        <form enctype="multipart/form-data" method="POST">
            <input type="file" name="file">
            <br>
            <input type="submit" value="Transcribe">
        </form>
    </div>
    {% if transcript != "" %}
        <div id="speechTranscriptContainer">
            <h1>Transcript</h1>
            <p>{{transcript}}</p>
        </div>
    {% endif %}
</body>
</html>